<mat-grid-list cols="2" rowHeight="550px" class="primary-800-bg" id="footer">
  <mat-grid-tile class="content-home">
    <h4 class="footer-title">Contactanos</h4>
    <p class="footer-text">
      <mat-icon>local_phone</mat-icon> Número telefónico: <a href="tel:{{asada?.telefono}}">{{asada?.telefono}}</a>
    </p>
    <p class="footer-text">
      <mat-icon>email</mat-icon> Correo electrónico: <a href="mailto:{{asada?.correo}}">{{asada?.correo}}</a>
    </p>
    <p class="footer-text">
      <mat-icon>location_on</mat-icon> Localización geográfica
    </p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8431.378383968877!2d-85.66136594348805!3d10.576553404731957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f9e2a71b2b8c2cd%3A0x51f98d844683d182!2sProvincia+de+Guanacaste%2C+Panam%C3%A1%2C+Costa+Rica!5e0!3m2!1ses!2sus!4v1516389908864"
      width="100%" height="250" frameborder="0" style="border:0; border-radius: 4px; margin-top: 10px;"
      allowfullscreen=""></iframe>

  </mat-grid-tile>
  <mat-grid-tile class="content-home">
    <h4 class="footer-title">
      <mat-icon>message</mat-icon> Deja aquí, tus comentarios o reportes:
    </h4>
    <label class="label-form">Nombre:</label>
    <input class="input-text" type="text" [(ngModel)]="nombre">
    <label class="label-form">Tu correo o número telefónico:</label>
    <input class="input-text" type="text" [(ngModel)]="contacto">
    <label class="label-form">Mensaje:</label>
    <textarea class="input-text" required="" rows="7" maxlength="800" style="resize: none;" name="contenido" cols="50"
      [(ngModel)]="mensaje"></textarea>
    <div class="btn-container">
      <button [disabled]="!validar()" [ngClass]="{'btn-footer': validar()}"
        class="btn-disabled" (click)="enviar()">ENVIAR</button>
        <br><br>
        <div class="loader" *ngIf="estaCargando">
            <mat-spinner color="accent" [diameter]="20"></mat-spinner>   
        </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="70px" class="primary-900-bg">
  <mat-grid-tile class="content-home">
    <div class="btn-container"><span class="copyright-text">© copyright 2019 Sistema de Asadas Comunales. - All Rights
        Reserved</span></div>
  </mat-grid-tile>
</mat-grid-list>
<br><br><br>