
table{
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-bordered{
    border: 1px solid #ddd;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-bordered>thead>tr>th, .table-bordered>tfoot>tr>td{
    border: 1px solid #ddd;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table>tbody>tr>td{
    padding: 4px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

.table-bordered>tbody>tr>td{
    border: 1px solid #ddd;
}

.table-name {
    width: 60%;
}

input.input-table, input.input-table-2 {
    border: solid 1px gray;
    border-radius: 3px;
    width: 100%;
    height: 35px;
}

input.input-table-2 {
    text-align: center;
}

.table-price {
    width: 12%;
    text-align: center;
}

.table-qty {
    width: 12%;
    text-align: center;
}

.table-total{
    width: 12%;
    text-align: center;
}

.table-remove {
    width: 4%;
    background: #fff;
    border-top: 1px solid #fff!important;
    border-right: 1px solid #fff!important;
    border-bottom: 1px solid #fff!important;
}

.table-remove-btn {
    text-align: center;
    display: block;
    height: 44px;
    padding: 12px;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fff;
    color: #C9302C;
    font-weight: 700;
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-empty {
    width: 70%;
    border-left: 1px solid #fff!important;
    border-bottom: 1px solid #fff!important;
}

.table-label {
    width: 10%;
    text-align: right;
    padding: 10px;
}

.table-amount {
    width: 16%;
    text-align: right;
}

.table-discount {
    padding: 0!important;
}

.agregarProducto{
    vertical-align: super;
}

.table-add_line{
    cursor: pointer;
    text-decoration: none !important;
}
.table-discount_input{
    padding-left: 28px;
}


.background-loader {
    position: absolute;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .limit-time-error {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  .loader-container {
    position: relative;
  }
  