<div id="dashboard-analytics" class="page-layout blank">

    <div class="main-widget">
        <div style="display: block;">
            <canvas *ngIf="barChartData.length" baseChart height="90px" [datasets]="barChartData"
                [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [colors]="chartColors"
                [chartType]="barChartType"></canvas>
            <div id="loader-load" class="background-loader" *ngIf="estaCargando || huboErrorAlcargar">
                <mat-spinner *ngIf="estaCargando" color="accent"></mat-spinner>
                <div class="limit-time-error" *ngIf="huboErrorAlcargar">
                    Hubo un Error al cargar la información.
                </div>
            </div>
        </div>
    </div>

    <div class="main-widget">


        <!-- WIDGET 1 -->
        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
            fxFlex.gt-xs="50" fxFlex.gt-md="25">

            <!-- Front -->
            <div class="fuse-widget-front">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="h3">Ganancias</div>
                    <button mat-icon-button fuseWidgetToggle aria-label="more">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                    <div class="light-blue-fg font-size-72 line-height-72">
                        ₡{{ganancias}} 
                    </div>
                    <div class="h3 secondary-text font-weight-500">Del presente periodo
                    </div>
                </div>

                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                    <!-- <span class="h4 secondary-text text-truncate">
                        Etiqueta
                    </span> -->
                    <span class="h4 ml-8">
                        <a [routerLink]="['/admin/seleccionar-periodo/cuentas']">Ver más</a>
                    </span>
                </div>
            </div>
            <!-- / Front -->

            <!-- Back -->
            <div class="fuse-widget-back p-16 pt-32">
                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                    <mat-icon class="s-16">close</mat-icon>
                </button>

                <div>
                    Para ver más detalle sobre este valor, ir al módulo de Cuentas pos Cobrar.
                </div>
            </div>
            <!-- / Back -->

        </fuse-widget>
        <!-- / WIDGET 1 -->

        <!-- WIDGET 2 -->
        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
            fxFlex.gt-xs="50" fxFlex.gt-md="25">

            <!-- Front -->
            <div class="fuse-widget-front">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="h3">Recibos</div>

                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                    <div class="red-fg font-size-72 line-height-72">
                        {{recibos}}
                    </div>
                    <div class="h3 secondary-text font-weight-500">Sin Pagar
                    </div>
                </div>

                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                    <span class="h4 ml-8">
                        <a [routerLink]="['/admin/seleccionar-periodo/recibos']">Ver más</a>
                    </span>
                </div>
            </div>
            <!-- / Front -->

            <!-- Back -->
            <div class="fuse-widget-back p-16 pt-32">
                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                    <mat-icon class="s-16">close</mat-icon>
                </button>

                <div>
                    Los recibos sin pagar pueden ser de periodos distintos, por lo que se debe revisar en cada periodo los recibos pendientes.
                </div>
            </div>
            <!-- / Back -->

        </fuse-widget>
        <!-- / WIDGET 2 -->

        <!-- WIDGET 3 -->
        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
            fxFlex.gt-xs="50" fxFlex.gt-md="25">

            <!-- Front -->
            <div class="fuse-widget-front">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="h3">Abonados</div>

                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                    <div class="orange-fg font-size-72 line-height-72">
                        {{abonados}}
                    </div>
                    <div class="h3 secondary-text font-weight-500">Activos
                    </div>
                </div>

                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                    <span class="h4 ml-8">
                        <a [routerLink]="['/admin/abonados']">Ver más</a>
                    </span>
                </div>
            </div>
            <!-- / Front -->

            <!-- Back -->
            <div class="fuse-widget-back p-16 pt-32">
                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                    <mat-icon class="s-16">close</mat-icon>
                </button>

                <div>
                    Esta es la cantidad de Abonados activos.
                </div>
            </div>
            <!-- / Back -->

        </fuse-widget>
        <!-- / WIDGET 3 -->

        <!-- WIDGET 4 -->
        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
            fxFlex.gt-xs="50" fxFlex.gt-md="25">

            <!-- Front -->
            <div class="fuse-widget-front">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="h3">Medidores</div>

                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                    <div class="blue-grey-fg font-size-72 line-height-72">
                        {{medidores}}
                    </div>
                    <div class="h3 secondary-text font-weight-500">Activos
                    </div>
                </div>

                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                    <span class="h4 ml-8">
                        <a [routerLink]="['/admin/medidores']">Ver más</a>
                    </span>
                </div>
            </div>
            <!-- / Front -->

            <!-- Back -->
            <div class="fuse-widget-back p-16 pt-32">
                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                    <mat-icon class="s-16">close</mat-icon>
                </button>

                <div>
                    Esta es la cantidad de Medidores activos.
                </div>
            </div>
            <!-- / Back -->

        </fuse-widget>
        <!-- / WIDGET 4 -->
    </div>

</div>