<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Añadir reparación</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
  
    </mat-toolbar>
  
    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
  
        <form [formGroup]="reparacionForm">

              <div fxLayout="row" fxLayoutAlign="start start">

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                      <mat-label>* Costo de la reparación:</mat-label>
                      <input matInput placeholder="Costo" name="costoTotal"
                          formControlName="costoTotal" type="number">
                      <span matPrefix>₡&nbsp;</span>
                      <mat-hint align="start">Este costo sera incluido en el próximo recibo.</mat-hint>
                      <mat-error>El costo de la reparación es requerido!</mat-error>
                  </mat-form-field>

              </div>
  
              <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                  <mat-form-field appearance="outline" fxFlex>
                      <mat-label>Detalle de la reparación:</mat-label>
                      <textarea name="detalleDeuda" formControlName="detalleDeuda" matInput type="text" max-rows="4"></textarea>
                  </mat-form-field>
              </div>
        </form>
  
    </div>
  
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-button
                class="save-button"
                (click)="matDialogRef.close(reparacionForm)"
                [disabled]="reparacionForm.invalid"
                aria-label="SAVE">
            CREAR
        </button>
  
    </div>
  </div>
  