
.consultar-title{
    text-align: center;
    margin-top: 20px !important;
}

.home-title, .consultar-title{
    color: #69614e;
    font-size: 30px;
    clear: both;
    font-weight: 700;
    margin: 0 0 5px 0;
    line-height: 1.4;
    text-transform:uppercase;
}

.head-table{
    text-align: center;
    border-bottom: solid;
    border-right: solid;
    padding: 10px;
}

.precio-table{
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    border-right: solid black;
}

.precio-table-last{
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

.head-table-last{
    text-align: center;
    border-bottom: solid;
}

.tarifa-table{
    border: solid;
    width: 100%;
    border-spacing: 0px;
}

p{
    color: #69614e;
    font-size: 20px;
    margin: 0 0 20px;
    line-height: 28px;
    text-align: justify;
}

.logo {

    .logo-icon {
        width: 32px;
        height: 32px;
    }

    .logo-text {
        margin-left: 12px;
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: normal;
    }
}

#menu-btn mat-icon{
    font-size: 40px;
    margin-top: 8px;
}

.content-home .mat-figure{
    display: block !important;
    padding: 20px 100px !important;
}
.btn-container{
    display: block;
    width: 100%;
    text-align: center;
}

.btn-consultar{
    cursor: pointer;
    border: 3px solid #69614e;
    color: #69614e !important;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    padding: 15.5px 42px;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.btn-consultar:hover{
    color: #FFF !important;
    background-color: #69614e;
    text-decoration: none !important;
}

.input{
    border: 3px solid #69614e;
    color: #69614e;
    padding: 12px 30px;
    text-indent: 6px;
    margin-bottom: 35px !important;
}

.background-loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .limit-time-error {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  .loader-container {
    position: relative;
  }

  .full-row{
    display: block;
    width: 90%;
  }

  .tabla{
    width: 100%;
    padding: 20px 2%;
    background-color: #c5c6cb;
  }

  .noRegistros{
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    background-color: #c5c6cb;
  }

  .tabla table{
    width: 100%;
}

  span.texto-centrado {
    text-align: center;
    width: 100%;
}

@media (max-width: 768px){

    div#menu-toggle {
        width: 100%;
        text-align: right;
        margin-right: 15px;
    }

}
  

@media (max-width: 480px) {
    .slideshow-container{
        height: 300px !important;
    }

    div#menu-toggle {
        width: 100%;
        text-align: right;
        margin-right: 15px;
    }

    .home-title, .consultar-title{
        font-size: 24px;
    }

    .mat-chip-list-wrapper{
        margin: 0 !important;
    }
    .example-button-row {
        font-size: 12px;
    }
}

