@import "src/@fuse/scss/fuse";

.background-loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .limit-time-error {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  .loader-container {
    position: relative;
  }

  .mat-row {
    position: relative;
    cursor: pointer;
    padding: 0px;
    min-height: 36px !important;
  
    .mat-cell {
        min-width: 0;
  
        &.mat-column-detail-button {
            flex: 0 1 auto;
            padding: 0 24px 0 0;
  
            @include media-breakpoint('gt-md') {
                display: none;
            }
        }
    }
  }